<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
        <style>
            .menu{
                margin-left: 5%;
                margin-right: 5%;
            }
        </style>
    </head>
    <body>
        <br>
        <div class="alert alert-info menu" role="alert" align="right">
            <button type="button" class="btn btn-primary">Profile</button>
            <button type="button" class="btn btn-primary">About</button>
            <button type="button" class="btn btn-primary">Gallery</button>
            <button type="button" class="btn btn-danger">Logout</button>
        </div>
    </body>
</html>