{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <h1>Sign up</h1>
        <div class="container">
            <div class="sign-up-content">
                <form method="POST" class="signup-form" >
                    {% csrf_token %}
                    <h2 class="form-title">Sign Up</h2>
                    <div style="align-content: center; color: red;">
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                    </div>
                    <div class="form-textbox">
                        <label for="name">User name</label>
                        {{ form.username }}
                    </div>
                    <div class="form-textbox">
                        <label for="firstname">First name</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-textbox">
                        <label for="lastname">Last name</label>
                        {{ form.last_name }}
                    </div>
                    <div class="form-textbox">
                        <label for="email">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-textbox">
                        <label for="pass1">Password</label>
                        {{ form.password1 }}
                    </div>
                    <div class="form-textbox">
                        <label for="pass2">Confirm Password</label>
                        {{ form.password2 }}
                    </div>

                    <div class="form-textbox">
                        <input type="submit" name="submit" id="submit" class="submit" value="Create account" />
                    </div>
                </form>

                <p class="loginhere">
                    Already have an account ?<a href="" class="loginhere-link"> Log in</a>
                </p>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>